# Build folders
bin/
obj/
Debug/
Release/

# executables / pdb
*.exe
*.dll
*.pdb

# generated cs files, baml и т.п.
*.g.cs
*.baml

# user / temp
*.user
*.log
*.vs/

# Visual Studio / editor temp
*.vsidx
*.suo
*.i.cs
*.g.i.cs
